<head>
  <style>
    form {
      display: flex;
      flex-direction: column;
      margin: 0 16px;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      padding: 5px;
    }

    .form-group input {
      border: 1px solid black;
      height: 40px;
    }
  </style>
</head>
<div class="loginbox">
<form action="/login" method="POST" id="form">
  <h2>Login</h2>

  <div class="form-group">
    <label for="username">Username</label>
    <input class="input" type="text" name="username" >
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password">
  </div>

  {{#if errorMessage }}
  <div class="error-message">{{ errorMessage }}</div>
  {{/if}}
  <div class="edit-delete" >
    <input  type="submit" value="Log In">
  </div>

  <p class="account-message">
    Don't have an account? <a href="/signup">Sign up</a>
  </p>
</form>
</div>