<h1>FICTION BOOKS:</h1>
<div>
  <a href="/genre/anthology"><img alt="anthology" src="../images/ANTHOLOGY.png" width="200" height="200"></a>
  <p>An anthology is a collection of series of works such as short stories, poems, essays, plays, etc. by different
    authors into a single volume for publication. The selection of such works is made based on some common theme or
    subject of books and usually done by an editor or small editorial board.</p>
</div>
<div>
  <a href="/genre/classic"><img alt="classic" src="../images/CLASSIC.png" width="200" height="200"></a>
  <p>Classic refers to the fictions that are accepted as the most important and influential books of a particular time
    period or place. These books are widely taught in schools.</p>
</div>
<div>
  <a href="/genre/comic"><img alt="comic" src="../images/COMIC.png" width="200" height="200"></a>
  <p>These books are based on a sequence of hand-drawn pictures. The story is usually told visually with very few words
    and those words are mostly placed either in panels on top or bottom of pictures or as speech bubbles.</p>
</div>
<div>
  <a href="/genre/crime"><img alt="crime" src="../images/CRIME.png" width="200" height="200"></a>
  <p>As the name suggests, this book genre deals with crime, criminal motives and the investigation and detection of the
    crime and criminals.</p>
</div>
<div>
  <a href="/genre/drama"><img alt="drama" src="../images/DRAMA.png" width="200" height="200"></a>
  <p>Dramas are stories composed in verse or prose, usually for theatrical performance, where conflicts and emotions are
    expressed through dialogue and actions.</p>
</div>
<div>
  <a href="/genre/fable"><img alt="fable" src="../images/FABLE.png" width="200" height="200"></a>
  <p>Fables are fictional narratives in prose or verse that typically features personified animals, mythical and
    legendary creatures, plants, etc. as the main characters. The characters in fable possess human qualities, such as
    the ability to speak in human language. These legendary tales demonstrate some useful truth and are meant to teach a
    moral lesson.</p>
</div>
<div>
  <a href="/genre/fairy-tale"><img alt="fairy-tale" src="../images/FAIRY-TALE.png" width="200" height="200"></a>
  <p>Fairy tale is usually a story for children that involves imaginary creatures and magical events.</p>
</div>
<div>
  <a href="/genre/fan-fiction"><img alt="fan-fiction" src="../images/FAN-FICTION.png" width="200" height="200"></a>
  <p>Fan Fiction, as the name suggests, is a fiction written by a fan of a particular book or book series. The
    characters and the plot of fan fiction are usually taken from the original work but the story is different.</p>
</div>
<div>
  <a href="/genre/fantasy"><img alt="fantasy" src="../images/FANTASY.png" width="200" height="200"></a>
  <p>A Book under this genre contains a story set in a fantasy world – a world that is not real and often includes
    magic, magical creatures, and supernatural events.</p>
</div>
<div>
  <a href="/genre/historical-fiction"><img alt="historical-fiction" src="../images/HISTORICAL-FICTION.png" width="200"
      height="200"></a>
  <p>Historical fiction is a genre of book that includes writings that reconstruct the past. The story is set in the
    past keeping the manners, social conditions and other details of that period unchanged. The writers incorporate the
    past events or people in their fictitious stories.</p>
</div>
<div>
  <a href="/genre/horror"><img alt="horror" src="../images/HORROR.png" width="200" height="200"></a>
  <p>Horror is a genre that is intended to or has the ability to create the feeling of fear, repulsion, fright or terror
    in the readers. In other words, it creates a frightening and horror atmosphere.</p>
</div>
<div>
  <a href="/genre/humor"><img alt="humor" src="../images/HUMOR.png" width="200" height="200"></a>
  <p>Humor fiction is usually full of fun, fancy, and excitement. It is meant to entertain and sometimes cause intended
    laughter in readers.</p>
</div>
<div>
  <a href="/genre/legend"><img alt="legend" src="../images/LEGEND.png" width="200" height="200"></a>
  <p>It’s a story, sometimes of a national or folk hero that is considered to be based on facts but also includes
    imaginative material. Narratives in this genre may demonstrate human values, and possess certain qualities that give
    the readers a reason to believe in the tale.</p>
</div>
<div>
  <a href="/genre/mystery"><img alt="mistery" src="../images/MYSTERY.png" width="200" height="200"></a>
  <p>Mystery books have a suspenseful plot that often involves a mysterious crime. Suspects and motives are considered
    and clues throughout the story lead to a solution to the problem.</p>
</div>
<div>
  <a href="/genre/paranormal"><img alt="paranormal" src="../images/PARANORMAL.png" width="200" height="200"></a>
  <p>Paranormal books involve unusual experiences that lack a scientific explanation. Some popular subjects in
    paranormal books are supernatural creatures, ESP, clairvoyance, ghosts, UFOs, telepathy, and psychics</p>
</div>
<div>
  <a href="/genre/realistic-fiction"><img alt="realistic-fiction" src="../images/REALISTIC-FICTION.png" width="200"
      height="200"></a>
  <p>Realistic fiction has a story that is true to life and seems real but isn’t actually real. Stories under this book
    genre are often set in modern times and have characters who seem like real people.</p>
</div>
<div>
  <a href="/genre/romance"><img alt="romance" src="../images/ROMANCE.png" width="200" height="200"></a>
  <p>The primary focus of romance fiction is on the relationship and romantic love between two people. These books have
    an emotionally satisfying and optimistic ending.</p>
</div>
<div>
  <a href="/genre/satire"><img alt="satire" src="../images/SATIRE.png" width="200" height="200"></a>
  <p>Satire is a genre of book that entertains making fun of vices, foolishness, shortcomings, etc. of individuals,
    corporations, government, or society through sarcasm and irony. It is often done with the intention of inducing the
    sense of improvement among people.</p>
</div>
<div>
  <a href="/genre/science-fiction"><img alt="science-fiction" src="../images/SCIENCE-FICTION.png" width="200"
      height="200"></a>
  <p>Science Fiction typically deals with imaginative and futuristic concepts such as advanced science and technology,
    time travel, extraterrestrial life, etc. The stories are often set in the future or on other planets.</p>
</div>
<div>
  <a href="/genre/short-story"><img alt="short-story" src="../images/SHORT-STORY.png" width="200" height="200"></a>
  <p>A short story is a short prose fiction that typically can be read in one sitting. The stories under this genre
    often do not have subplots. It deals with a few characters and aims at the unity of effect and often concentrate on
    the creation of mood rather than plot./p>
</div>
<div>
  <a href="/genre/suspence-thriller"><img alt="suspense/thriller" src="../images/SUSPENSE-THRILLER.png" width="200"
      height="200"></a>
  <p>This genre of book is characterized and defined by the moods they evoke among the readers, giving them heightened
    feelings of suspense, excitement, thrill, surprise, anticipation, and anxiety. Literary devices such as plot twists
    and cliffhangers are extensively used in this genre.</p>
</div>
<div>
  <a href="/genre/young-adult"><img alt="young-adult" src="../images/YOUNG-ADULT.png" width="200" height="200"></a>
  <p>The subject matter and genres of Young Adult correlate with the age and experience of the protagonist. The genres
    available in YA are expansive and include most of those found in adult fiction. Common themes related to YA include
    friendship, first love, relationships, and identity. Stories that focus on the specific challenges of youth are
    sometimes referred to as problem novels or coming-of-age novels.</p>
</div>