<h1 class="type">NON-FICTION BOOKS:</h1>
<div class="allgenres">
<div class="fictiongenres">
  <a href="/genre/biography"><img alt= "biography" src="../images/BIOGRAPHY.png" width="200" height="200"></a>
  <p>Biography is a narrative on someone’s life written by someone else. When a person himself writes about his life, then the book is called an autobiography.</p>
</div>
<div class="fictiongenres">
  <a href="/genre/essay"><img alt= "essay" src="../images/ESSAY.png" width="200" height="200"></a>
  <p>An essay is usually a short literary composition that reflects an author’s outlook or point of view on a particular topic.</p>
</div>
<div class="fictiongenres"> 
  <a href="/genre/memoir"><img alt= "memoir" src="../images/MEMOIR.png" width="200" height="200"></a>
  <p>A memoir is basically a collection of memories that an individual writes on moments or events that he experiences in his life. These writings are taken to be factual.</p>
</div>
<div class="fictiongenres">
  <a href="/genre/periodicals"><img alt= "periodicals" src="../images/PERIODICALS.png" width="200" height="200"></a>
  <p>Periodicals as the name suggest, are written periodically at regular definitive intervals. Newspapers, magazines, Journals are some examples.</p>
</div>
<div class="fictiongenres">
  <a href="/genre/reference-book"><img alt= "reference-book" src="../images/REFERENCE-BOOK.png" width="200" height="200"></a>
  <p>These are books that we refer to when we need some specific information. Some examples of this genre of books are a dictionary, an encyclopedia, an atlas, etc.</p>
</div>
<div class="fictiongenres"> 
  <a href="/genre/self-help-book"><img alt= "self-help-book" src="../images/SELF-HELP-BOOK.png" width="200" height="200"></a>
  <p>Self-help books contain information that is intended to help the readers to solve their personal problems and make their life better.</p>
</div>
<div class="fictiongenres">
  <a href="/genre/speech"><img alt= "speech" src="../images/SPEECH.png" width="200" height="200"></a>
  <p>This is a public address or discourse written into a book.</p>
</div>
<div class="fictiongenres">
  <a href="/genre/textbook"><img alt= "textbook" src="../images/TEXTBOOK.png" width="200" height="200"></a>
  <p>A textbook is a manual of instruction in any branch of study. It contains an authoritative and detailed factual description of a topic. Textbooks are produced as per the demands of educational institutions. Mathematics, science, and history textbooks taught in schools are some basic examples.</p>
</div>
</div>

