<h1>Edit your comment:</h1>


<form action="/commentAuthor/edit/{{comment._id}}" method="post">
  <label for="theText"></label>
  <input id="theText" type="text" name="title" value="{{comment.text}}">
  <button type="submit">EDIT</button>
</form>