<h3 class="yourcomments">Edit your comment:</h3>


<form action="/commentAuthor/edit/{{comment._id}}" method="post">
  <label for="theText"></label>
  <input id="theText" type="text" name="title" value="{{comment.text}}">
  <button class="editonly" type="submit">EDIT</button>
</form>